<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

	<p align="left">Dear User,</p>

	This e-mail is to inform  you that an <%= @issue.issueName %> for the task assigned for the project <%= @project.projectName%>
    <br/>
	<p align="left">Best Regards,<br/>
		<%= @user.firstName %><br/>
		PmBokDocs</p>
  </body>
</html>
