<div id="user_login" class="col-md-4">
  <div id="container">
    <div id="user_status">
      <% if user_signed_in? %>
          Welcome <%= current_user.email %>! Not you?
          <h3><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></h3>
      <% else %>
          <h3><% link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %></h3>
      <% end %>
    </div>
    </div>
  <div style="height:500px;" id="map­canvas"></div>
</div>

<div class="col-md-8">
        <h2>PMBOK Docs - An Integrated Project Management System</h2>
        <p>To create a new project and manage it smoothly and properly.</p>
        <p>PMBOK Docs will allow you to track down the documents, activities and issues</p>
</div>
