<div id="new_project" class="col-md-4">
	<div class="container">
		<div class="page-header">
			<% @documentName.each do |name| %>
      			<h1><%= name.categoryName %></h1>
      		<% end %>
					<table class="table table-bordered">
      			<thead>
        			<tr>
          				<th>Version</th>
          				<th>Location</th>
        			</tr>
      			</thead>
      			<tbody>
        			<% @documentList.each do |list| %>
          			<tr>
            			<td><%= link_to "Version " + list.version.to_s,'#' %></td>
            			<td><%= list.fileLocation %></td>
          			</tr>
      				<% end %>
    			</tbody>
			</table>
			<%= link_to 'Document List', documents_path, :class => "btn btn-default" %>
    	</div>
	</div>
</div>
