<p id="notice"><%= notice %></p>

<div id="new_project" class="col-md-4">
	<div class="container">
		<div class="page-header">
			<% @documentName.each do |name| %>
      			<h1><%= name.categoryName %></h1>
      		<% end %>
      		<table>
      			<thead>
        			<tr>
          				<th>All versions</th>
          				<th>Location</th>
          				<th colspan="3"></th>
        			</tr>
      			</thead>
      			<tbody>
        			<% @documentList.each do |list| %>
          			<tr>
            			<td><%= link_to "Version " + list.version.to_s,'#' %></td>
            			<td><%= list.fileLocation %></td>
          			</tr>
      				<% end %>
    			</tbody>
			</table>
    	</div>
	</div>
</div>
