<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>

</p>

<p>
  <strong>Description:</strong>

</p>

<p>
  <strong>Filelocation:</strong>

</p>

<%= link_to 'Edit', 'edit_document_path(@document)' %> |
<%= link_to 'Back', 'documents_path' %>
